* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**
*******************************
CONFIGURANDO O HEADER
*******************************
**/

header {
  background-color: #5c98fc;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #999999;
  font-size: 1.3rem;
}

header input, select, button {
  margin: 4px;
  font-size: 1rem;
}

input {
  width: 300px;
  font-size: 16px;
  margin: 4px 2px;
  border-style: none;
  border-bottom: 1px solid #999999;
  box-shadow: 0 0 0 0;
  outline: 0;
  padding: 10px 22px;
}

select {
  font-size: 16px;
  padding: 10px 22px;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #0043b3;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: #0043b3;
  color: white;
}

/**
*******************************
FIM DO HEADER
*******************************
INICIO DO CONTEUDO
*******************************
**/

section {
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.titulo {
  margin-left: 30px;
}

.semana {
  background-color: #5c98fc;
  color: whitesmoke;
  width: 250px;
  height: 400px;
  font-size: 1.2em;
  border-radius: 10px;
  border: 1px solid #999;
  box-shadow: 10px 10px 5px grey;
}

h3 {
  text-align: center;
}

ul {
  margin-top: 10px;
  width: 100%;
  list-style-type: none;
  text-align: center;
}

li {
  list-style-type: none;
  text-align: center;
}